[submodule "backend"]
	path = backend
	url = https://github.com/AceStudiosOfficial/backend.git
    fetchRecurseSubmodules = true
[submodule "frontend"]
	path = frontend
	url = https://github.com/AceStudiosOfficial/frontend.git
    fetchRecurseSubmodules = true
[submodule "types"]
	path = types
	url = https://github.com/AceStudiosOfficial/types.git
    fetchRecurseSubmodules = true
[submodule "common"]
	path = common
	url = https://github.com/AceStudiosOfficial/common
    fetchRecurseSubmodules = true
[submodule "core"]
	path = core
	url = https://github.com/AceStudiosOfficial/core
    fetchRecurseSubmodules = true
[submodule "discord-bot"]
	path = discord-bot
	url = https://github.com/AceStudiosOfficial/discord-bot
    fetchRecurseSubmodules = false
